token: "" # place your token here
postgres_dsn: "" # put your postgres dsn here: format: "postgres://user:password@host:port/database"
# if deploying with docker and you don't change anything, it would be "postgres://postgres:secret@db:5432/bot"

# past here is optional

# Set as many prefixes as you want, denote each line with a "- "
prefix:
  - "saber "
  - "ccbot "


# here is where you set the bots activity
activity:
  name: "Beat Saber" # the thing you want it to say
  type: "playing" # playing, watching, listening, competing, and streaming are all valid.
  url: "https://cube.community/" # this field is required if you select "streaming" as the type

status: "idle" # the bot's status, one of online, offline, dnd, and idle